.container img {
	width: 100%;
}
.square {

    width:100%;
    height:650px;
   

}
.object-fit_fill { object-fit: fill }
.object-fit_contain { object-fit: contain }
.object-fit_cover { object-fit: cover }
.object-fit_none { object-fit: none }
.object-fit_scale-down { object-fit: scale-down }



p { font-weight: 200; font-size: 13px; margin-bottom: 10px; margin-top: 0;}

img { height: 400px; background-color: #444;}

img[class] { 
  width: 100%;
}

.original-image {
  margin-bottom: 50px;
}

.image {
  float: left;
  width: 40%;
  margin: 0 30px 20px 0;
  
  &:nth-child(2n) {
    clear: left;
  }
  
  &:nth-child(2n+1){
    margin-right: 0;
  }
}
.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
}
.background-font {
  background-color: #2ba6cb;
  padding: 0 90px;
}
